modules = ["bun-1.2", "nodejs-20", "nodejs-22", "python-3.11", "python-3.11-pip"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python Preview Server (Port 5000)"

[[workflows.workflow]]
name = "Python Preview Server (Port 5000)"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/flbj8bq2vznkcwss7sm0ky8rd0k6kar7-python-wrapped-0.1.0/bin/python3 -m http.server 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[nix]
packages = ["tmux", "ollama"]
channel = "stable-25_05"
